.App {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formCon {
  margin-bottom: 3em;
  display: flex;
  align-items: center;

  .formBody {
    width: 300px;
    display: flex;
    flex-direction: column;

    input {
      margin: 1em;
      padding: 0.5em 1em;
      height: 15px;
      border-radius: 0.2em;
      border: 1px solid rgb(221, 221, 221);
      box-shadow: 0px 0px 4px rgb(223, 223, 223);
    }

    button {
      margin-top: 1.2em;
      font-size: 1rem;
      align-self: center;
      padding: 0.5em 1.5em;
      border-radius: 0.2em;
      border: none;
      background: rgb(14, 211, 119);
      box-shadow: 0px 0px 8px rgb(131, 255, 197);
      color: #fff;
    }
  }
}

.smurfList {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: center;
}

.smurfCard {
  width: 200px;
  // border: 1px solid rgb(189, 189, 189);
  border-radius: 0.5em;
  text-align: center;
  margin: 1em;
  box-shadow: 0px 0px 10px rgb(214, 165, 255);
}
